*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
}

nav{
    background-color: black;
    
}
.container{
    background-color: black;
    width: 100%;
}

button span{
    background-color: white;
}
.carousel slide{
    width: 300px;
}
p{
    font-size: x-large;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}
