*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
}
.img-fluid {
  width: 1100px;
}
nav{
    background-color: black;
    
}
.container{
    background-color: black;
}
ul li a{
    color: white;
}
button span{
    background-color: white;
}